@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font: normal 100%/1.3 "Volkhov", serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

header {
  padding: 2rem 0 0 3.7rem;
  background-color: #ccc;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.banner-img {
  display: block;
  width: 100%;
  margin: 0;
  position: relative;
}

.logo {
  width: 30px;
  display: block;
  position: absolute;
  top: 1rem;
  left: 1rem;
}

h1 {
  font-size: .7rem;
  position: absolute;
  top: 0.55rem;
  left: 3.7rem;
}

.media1 {
  width: 15px;
  display: block;
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.media2 {
  width: 15px;
  display: block;
  position: absolute;
  top: 1rem;
  right: 3rem;
}

.media3 {
  width: 15px;
  display: block;
  position: absolute;
  top: 1rem;
  right: 5rem;
}

nav ul {
  margin: 0;
  padding: 0rem 1rem 1rem 1rem;
}

nav li {
  display: inline-block;
  text-align: center;
}

nav a {
  display: inline-block;
  color: #333;
  text-decoration: none;
  font-size: 65%;
}

nav a:hover {
  background-color: #333;
  color: #fff;
  padding: .5rem;
}

h2 {
  position: absolute;
  top: 5rem;
  left: 1rem;
  font-size: 110%;
}

bold {
  font-size: 3rem;
}

.banner p {
  font-size: 70%;
  position: absolute;
  top: 10rem;
  right: 1rem;
}

.btn-big {
  font-size: 65%;
  display: inline-block;
  padding: .7em;
  border-width: 3px;
  list-style-type: none;
  background-color: #ccc;
  color: #333;
  text-decoration: none;
  position: absolute;
  left: 1rem;
  top: 15rem;
}

.btn-big:hover {
  background: #333;
  color: #fff;
}

.btn {
  text-decoration: none;
}

section a {
  color: white;
}

.card-best-sellers a {
  display: block;
  text-align: center;
  margin: 1rem 0;
  padding: 2rem 1rem;
  background-color: #999;
}

.card-special-offers a {
  display: block;
  text-align: center;
  margin: 1rem 0;
  padding: 2rem 1rem;
  background-color: #999;
}

.card-about-staff a {
  display: block;
  text-align: center;
  margin: 1rem 0;
  padding: 2rem 1rem;
  background-color: #999;
}

.card-contact-us a {
  display: block;
  text-align: center;
  margin: 1rem 0;
  padding: 2rem 1rem;
  background-color: #999;
}

.card-best-sellers:hover a {
  background-color: #333;
}

.card-special-offers:hover a {
  background-color: #333;
}

.card-about-staff:hover a {
  background-color: #333;
}

.card-contact-us:hover a {
  background-color: #333;
}

h3 {
  margin: 1rem;
}

h4 {
  margin: 1rem;
}

h5 {
  margin: 1rem;
}

h6 {
  margin: 1rem;
}

p {
  margin: 1rem;
}

footer {
  background: #ccc;
  padding: 1rem 0 1rem 0;
}


section img {
  width: 320px;
}

.top {
  max-height: 500px;
  overflow: hidden;
}

footer img {
  width: 5%;
  margin-left: 1rem;
}

@media only screen and (min-width: 25em) {

  html {
    font-size: 100%;
    line-height: 1.3;
  }

  h2 {
    font-size: 200%;
  }

  .banner p {
    font-size: 100%;
  }

  .btn-big {
    font-size: 65%;
  }

  nav ul {
    margin: 0;
    padding: 0rem 1rem 1rem 6rem;
  }

  section img {
    width: 400px;
  }

}

@media only screen and (min-width: 38em) {

  html {
    font-size: 110%;
    line-height: 1.4;
  }

  h2 {
    font-size: 200%;
  }

  .banner p {
    font-size: 100%;
  }

  .btn-big {
    font-size: 100%;
  }

  nav ul {
    margin: 0;
    padding: 0rem 1rem 1rem 12rem;
  }

  section img {
    width: 400px;
  }

  .photo1 {
    float: right;
    padding-left: 1rem;
    padding-bottom: 1rem;
  }

  .photo2 {
    float: left;
    padding-right: 1rem;
    padding-bottom: 1rem;
  }

  .photo3 {
    display: block;
    margin-left: auto;
  }

  .photo5 {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .card-best-sellers {
    float: left;
    width: 50%;
    padding-left: 0.5em;
    padding-right: 0.5em;
    max-width: 20em;
  }

  .card-special-offers {
    float: left;
    width: 50%;
    padding-left: 0.5em;
    padding-right: 0.5em;
    max-width: 20em;
  }

  .card-about-staff {
    float: left;
    width: 50%;
    padding-left: 0.5em;
    padding-right: 0.5em;
    max-width: 20em;
  }

  .card-contact-us {
    float: left;
    width: 50%;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-bottom: 4em;
    max-width: 20em;
  }

}

@media only screen and (min-width: 60em) {

  html {
    font-size: 120%;
    line-height: 1.5;
  }

  h2 {
    font-size: 200%;
  }

  .banner p {
    font-size: 100%;

  }

  .btn-big {
    font-size: 100%;
  }

  nav ul {
    margin: 0;
    padding: 0rem 1rem 1rem 8rem;
  }

  nav a {
    font-size: 85%;
    padding-left: 1.3rem;
  }

  .card-best-sellers {
    float: left;
    width: 25%;
    padding-left: 0.5em;
    padding-right: 0.5em;
    max-width: 20em;
  }

  .card-special-offers {
    float: left;
    width: 25%;
    padding-left: 0.5em;
    padding-right: 0.5em;
    max-width: 20em;
  }

  .card-about-staff {
    float: left;
    width: 25%;
    padding-left: 0.5em;
    padding-right: 0.5em;
    max-width: 20em;
  }

  .card-contact-us {
    float: left;
    width: 25%;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-bottom: 4em;
    max-width: 20em;
  }

}

@media only screen and (min-width: 90em) {

  html {
    font-size: 130%;
    line-height: 1.5;
  }

  nav ul {
    margin: 0;
    padding: 0rem 1rem 1rem 15rem;
  }

  .banner p {
    padding-right: 13rem;
  }
}
